 * {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Verdana, sans-serif
}


header {
    background-color: #ffff00;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


section {
  display: -webkit-flex;
  display: flex;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #ffff00;
  padding: 10px;
}

footer {
  background-color: #ffff00;
  padding: 10px;
  text-align: center;
  color: black;
}


@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

